#viewsourcewith-button,
#button-viewsourcewith {
  list-style-image: url("chrome://viewsourcewith/content/img/ff/tb24.png");
  -moz-image-region: rect(0 41px 38px 0);
}

#viewsourcewith-button[disabled],
#button-viewsourcewith[disabled]  {
  opacity: 0.5;
  -moz-image-region: rect(0 41px 38px 0);
}

#viewsourcewith-button:hover,
#button-viewsourcewith:hover {
  -moz-image-region: rect(0 83px 38px 42px);
}

#viewsourcewith-button[focusedtype="text"],
#button-viewsourcewith[focusedtype="text"] {
  -moz-image-region: rect(39px 41px 77px 0);
}

#viewsourcewith-button:hover[focusedtype="text"],
#button-viewsourcewith:hover[focusedtype="text"] {
  -moz-image-region: rect(39px 83px 77px 42px);
}
